@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    /* color: rgb(17, 17, 17); */
    position: relative;
    font-family: 'Poppins', sans-serif;
    
}
/* .navbar{
    /* padding: 0 0 0.9rem; */
    /* background: rgb(14,0,36);
    background: linear-gradient(104deg, rgba(14,0,36,1) 7%, rgba(26,12,45,1) 30%, rgba(61,21,163,1) 52%, rgba(13,5,25,1) 88%);
   
}

footer {
    background: rgb(14,0,36);
    background: linear-gradient(104deg, rgba(14,0,36,1) 7%, rgba(26,12,45,1) 30%, rgba(61,21,163,1) 52%, rgba(13,5,25,1) 88%);

    color: #ffffff;
  }
.navbar-brand{
   
    font-size: 1rem;
   
}  */
/* .body1 {
    margin-left: 5%; 
    margin-right: 5%;
  } */

.badadiv {
    display: flex;
    /* overflow-y: scroll; */
    width: 100%;
    /* height: 50%; */
    margin: auto 20px;
    flex-wrap: wrap;
    grid-gap: 40px;
    justify-content: center;
}
.time 
{
    margin-left: 600px;
}
.question-table{
    border-spacing: 0px 15px;
    border-collapse:separate;
    height: 100%;
    margin: 0px 5% 0px 5%;
    width: fit-content;
    color: #ffffff;
}

 .question-table tr:hover {
    background-color: #232323;
  text-emphasis-color: rgb(255, 255, 255);
} 


.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1rem;
    
} 

.Heading{
    /* margin-top: 1rem; */
    /* margin-bottom: 0.5rem; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    /* padding-bottom: 50px; */
    font-size:32px;
    text-shadow: 6px 6px 8px rgba(16, 16, 16, 0.6);
    
}
    

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 250px;
    max-width: 100%;
    min-height: 200px;
    
}
.thwala{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    /* padding: 60px; */
    font-size: 1.2rem;
    
}
.thwala button {
    padding:0.5rem 0.7rem; 
    border-radius: 0.5rem;
    border-style:none;
    background-color: #0e0758;
    font-size: 0.95rem;
    color:#FFFFFF; 
}
.thwala button:hover{
    /* transform: scale(1.2); */
    background-color: #0e0758;
    /* background-color: #5f287994; */
    border: solid white 1px;
}

.question-table .card{
    text-align: center;
    margin: 0px;
    /* border: 1px solid black;  */
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius:16px;
   box-shadow: 10 20px 30px rgba(0,0,0,0.1);
   box-shadow: 30px 30px 40px rgb(0, 0, 0);
   filter:blur;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}
.question-table card:hover{
  
    color: rgb(255, 255, 255);
    box-shadow: 30px 30px 40px rgb(0, 0, 0);
  text-shadow: #ffffff ;
}

.thwala, .table th,.table thead th{
    /* padding: 0.8rem; */
    vertical-align: top;
    /* border-top: 1px solid; */
   min-height: 50px;
    border-color:rgb(255, 255, 255);
    color: #ffffff;
    width:80%;
    justify-content: center;
    text-align:center;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.table td:last-child{
    border-radius: 0 7px 7px 0;
    border-right: 1px solid;
    border-color:rgb(255, 255, 255);
}

.table td:first-child {
    border-radius: 7px 0 0 7px;
    border-left: 1px solid;
   border-color: rgb(255, 255, 255);
}

.table th:first-child{
    border-radius: 7px 0 0 7px;
    border-left: 1px solid;
    border-color:rgb(255, 255, 255);
}
.table th:last-child{
    border-radius: 0 7px 7px 0;
    border-right: 1px solid;
    border-color:rgb(255, 255, 255);
}

/* .navbar2{
	background-color: #000000;
	bottom:0;
	width: auto;
	color: #ffffff;
	text-align: center;
	margin-bottom: 0;
	padding: 10px 0 10px 0;
} */
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: hwb(261 4% 47%);
    transition: var(--bs-progress-bar-transition);
    border: 1.5px solid beige;
    border-radius: 8px;
    height: 24px;
}

.btn{
   
    border-color: rgb(255, 255, 255);
    /* border-radius: 1.5px; */
    /* width: 4rem; */
    border-radius: 10%;
    margin: auto;
    /* box-shadow: 3px 3px 3px 3px lightblue; */
    
}
#accuracy{
    margin: 0 !important;
    padding-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.btn a{
    color: white;    
    text-decoration: none;
}
.backgr
{
  min-width: 700px;
  min-height: 100vh;
  background: rgb(34,5,65);
background: linear-gradient(90deg, rgba(34,5,65,1) 29%, rgba(106,20,135,1) 54%, rgba(21,6,57,1) 77%);

  /* background: rgb(129,63,251);
  background: radial-gradient(circle, rgba(129,63,251,1) 11%, rgba(39,11,57,1) 90%); */
}




.progress{
    border-color: rgb(255, 255, 255);
    border: #ffffff;
    border-width: 50%;
    border-radius: 6px;
    background-color: #FFFFFF;
    
   
}

#progress{
    margin-top: 7px !important;
    padding-top: auto !important;
    padding-left: auto !important;
    margin-left: auto !important;
}

/* @media (min-width: 450px) 
{
    .container {
    max-width: 1170px;
  }
} */

.card:hover{
    transform: scale(1.1);
    /* background: rgb(51,32,162);
    background: linear-gradient(242deg, rgba(51,32,162,1) 26%, rgba(127,58,180,1) 48%, rgba(37,36,164,1) 100%); */
    border: solid white 2px;
}
.modal-content{
    background-color: rgba(75, 42, 116, 0.932);
color:white}

.tbody{
    background-color:white;
}

.question-container {
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  